<igx-input-group type="search" class="offset">
  <igx-prefix>
    <igx-icon *ngIf="searchText.length == 0">search</igx-icon>
    <igx-icon *ngIf="searchText.length > 0" (click)="clearSearch()">clear</igx-icon>
  </igx-prefix>

  <!-- Filter Input -->
  <input #search1 id="search1" igxInput placeholder="Search" [(ngModel)]="searchText"
    (ngModelChange)="grid.findNext(searchText, caseSensitive)" (keydown)="searchKeyDown($event)" />

  <igx-suffix *ngIf="searchText.length > 0">
    <!-- Display Search Results -->
    <div class="resultsText" *ngIf="grid.lastSearchInfo">
      <span *ngIf="grid.lastSearchInfo.matchInfoCache.length > 0">
        {{ grid.lastSearchInfo.activeMatchIndex + 1 }} of {{ grid.lastSearchInfo.matchInfoCache.length }} results
      </span>
      <span *ngIf="grid.lastSearchInfo.matchInfoCache.length == 0">
        No results
      </span>
    </div>
    <!-- Toggle Case-sensitive -->
    <div class="caseSensitiveButton">
      <button igxButton="icon" igxRipple igxRippleCentered="true" (click)="updateSearch()"
        [igxButtonBackground]="caseSensitive? 'lightgrey' : 'transparent'">
        <igx-icon class="caseSensitiveIcon" fontSet="material">text_fields</igx-icon>
      </button>
    </div>
    <!-- Navigate Search Results -->
    <div class="searchButtons">
      <button igxButton="icon" igxRipple igxRippleCentered="true" (click)="grid.findPrev(searchText, caseSensitive)">
        <igx-icon fontSet="material">navigate_before</igx-icon>
      </button>
      <button igxButton="icon" igxRipple igxRippleCentered="true" (click)="grid.findNext(searchText, caseSensitive)">
        <igx-icon fontSet="material">navigate_next</igx-icon>
      </button>
    </div>
  </igx-suffix>
</igx-input-group>