.page {
    margin: 20px;
}

.page::-webkit-scrollbar {
  display: none;
}

.igx-card-header {
  padding: 10px !important;
  min-height: 92px;
}

.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.request-date {
    font-size: 1.1em;
}

@media (min-width: 980px) {
  .card-wrapper {
    max-width: 25%;
    max-height: 25%;
    min-width: 25%;
    min-height: 25%;
  }
}

@media (max-width: 980px) {
  .card-wrapper {
    max-width: 50%;
    max-height: 50%;
    min-width: 50%;
    min-height: 50%;
    margin-bottom: 20px;
  }
}
