<div class="page">
    <h3 class="center">Unapproved Requests</h3>
    <hr>
    <div class="article-container" igxLayout igxLayoutDir="col" igxLayoutWrap="wrap">
        <article *ngFor="let req of unapprovedRequests" class="card-wrapper pad-a-10">
            <igx-card>
                <igx-card-header>
                    <igx-avatar class="avatar" [roundShape]="true" size="medium" [initials]="req.initials"
                        [bgColor]="'gray'" [color]="'white'"></igx-avatar>
                    <h2 igxCardHeaderTitle class="igx-card-header__title">{{ req.name }}</h2>
                    <h5 igxCardHeaderSubtitle class="igx-card-header__subtitle">{{ req.date | date:'short' }}</h5>
                </igx-card-header>
                <igx-card-content>
                    <h6 class="request-date"><strong>Requested Date:</strong><br>{{ req.requestEventName }}<br>{{ req.requestEventDateTime | date:'short' }}</h6>
                    <br>
                    <p>User Comment: "{{ req.comments }}"</p>
                </igx-card-content>
                <igx-card-actions>
                    <button igxButton igxRipple (click)="editRequest(req.id)">Edit</button>
                    <button igxButton igxRipple (click)="approveRequest(req)">Approve</button>
                </igx-card-actions>
            </igx-card>
        </article>
    </div>
</div>
