<div class="page">
  <div class="grid-search">
    <app-search [gridToSearch]="requestsGrid"></app-search>
  </div>

  <div class="grid_wrapper">
    <igx-grid #requestsGrid id="requestsGrid" [data]="requests" [primaryKey]="'id'" [autoGenerate]="false"
      [showToolbar]="true" toolbarTitle="Parking Requests" [columnHiding]="false" [allowFiltering]="true" [exportExcel]="true"
      exportText="Export" exportExcelText="Export to Excel"
      height="600px">
      <!--EDIT-->
      <igx-column field="id" header="Edit" width="100px" [filterable]="false" [editable]="false">
        <ng-template igxCell let-value>
          <button igxButton="icon" (click)="editRequest(value)">
            <igx-icon>edit</igx-icon>
          </button>
        </ng-template>
      </igx-column>
      
      <!--ID-->
      <!--APPROVED-->
      <!--NAME-->
      <!--EVENT NAME-->
      <!--EVENT DATE-->
      <!--EVENT TIME-->
      <!--REQUEST DATETIME-->
      <!--COMMENTS-->

      
      <igx-column header="Delete" [filterable]="false" [editable]="false" width="100px">
        <ng-template igxCell let-cell="cell">
          <button igxButton="icon" (click)="confirmDeleteRequest(cell.cellID.rowIndex)">
            <igx-icon>delete</igx-icon>
          </button>
        </ng-template>
      </igx-column>
    </igx-grid>

    <div class="marg-top-20 marg-bot-10">
      <button class="full-width rounded" igxButton="raised" igxButtonColor="white" igxButtonBackground="#003086"
        igxRipple="gray" (click)="createRequest()">
        ADD REQUEST
      </button>
    </div>
  </div>

  <igx-dialog #confirmDeleteDialog title="Delete Request?" leftButtonLabel="Cancel"
    (onLeftButtonSelect)="confirmDeleteDialog.close()" rightButtonLabel="OK"
    message="Are you sure you want to delete this request?">
  </igx-dialog>
</div>
