<div class="marg-top-20 mid-container">
    <div class="text-center">
        <h5>Edit Parking Request</h5>
    </div>
    <app-request-form *ngIf="selectedRequest" (onSubmit)="updateRequest($event)"
        [selectedRequest]="selectedRequest">
    </app-request-form>
</div>
