<form *ngIf="requestForm" class="input-group-form" [formGroup]="requestForm">
    <!--ID-->
    <igx-input-group>
        <input igxInput name="id" type="number" formControlName="id" />
        <label igxLabel for="id">Id</label>
    </igx-input-group>
    <!--NAME-->
    <igx-input-group>
        <input igxInput name="name" type="string" formControlName="name" />
        <label igxLabel for="name">Name</label>
    </igx-input-group>
    <!--REQUEST DATE-->
    <igx-select formControlName="requestDateId">
        <label igxLabel>Request Date</label>
        <igx-select-item *ngFor="let e of events" [value]="e.id">
            {{ e.eventName }} - {{ e.eventDate }}
        </igx-select-item>
    </igx-select>
    <!--COMMENTS-->
    <igx-input-group>
        <input igxInput name="comments" type="string" formControlName="comments" />
        <label igxLabel for="comments">Comments</label>
    </igx-input-group>
    <!--APPROVED-->
    <igx-checkbox formControlName="approved">Approved?</igx-checkbox>

    <div class="button-wrapper marg-bot-20 marg-top-20">
        <button class="full-width rounded" igxButton="raised" igxRipple (click)="submit($event)"
            [disabled]="!requestForm.valid">SUBMIT</button>
    </div>
</form>

<igx-dialog #messageDialog title="Message" [message]="message" leftButtonLabel="OK"
  (onLeftButtonSelect)="messageDialog.close()" [closeOnOutsideSelect]="true">
</igx-dialog>
