/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: inherit;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafe;
  margin: 0;
}

textarea {
  background: #efefef;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  outline: none;
}

h1, h2, h3, h4, h5 {
  color: #565656;
}

.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.mid-container {
  max-width: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
}

.form12 {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, minmax(12px, 1fr));
}

.span-quarter {
  grid-column: span 3;
}

.span-half {
  grid-column: span 6;
}

.span-thorter {
  grid-column: span 9;
}

.span-all {
  grid-column: 1 / -1;
}

.span-large {
  grid-column: 1 / 11;
}

.span-small {
  grid-column: 11 / -1;
}

.fill-height {
  height: 100%;
}

.block {
  display: block !important;
}

.tab-page-title {
  padding: 16px 0px 8px 0px;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  font-family: 'arial';
}

.primary-back {
  background-color: rgb(183, 29, 29);
}

.accent-back {
  background-color: rgb(17, 49, 134);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-spacer {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.monospace {
  font-family: monospace !important;
}

.center-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100% !important;
}

.maj-width {
  width: 79.203% !important;
}

.min-width {
  width: 20% !important;
}

.half-width {
  width: 49.58% !important;
  /* calibrated from 601px (changes with placeholder length  -_-  ) */
}

.third-width {
  width: 32.74% !important;
}

.q-width {
  width: 24.37% !important;
  /* calibrated from 601px */
}

.mff-full-width mat-form-field {
  width: 100% !important;
}

.mff-half-width mat-form-field {
  width: 49.7% !important;
}

.mff-maj-width mat-form-field {
  width: 79% !important;
}

.mff-third-width mat-form-field {
  width: 32.9% !important;
}

.field-fill {
  width: 100% !important;
}

.field-bigger {
  width: 74% !important;
}

.field-smaller {
  width: 25% !important;
}

.toggle-edit {
  display: flex;
  justify-content: flex-end;
}

.pad-tl-10 {
  padding-left: 10px;
  padding-top: 10px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-5 {
  padding-top: 5px !important;
}

.pad-a-10 {
  padding: 10px;
}

.pad-lr-10 {
  padding: 0px 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bot-20 {
  padding-bottom: 20px;
}

.padding-a-5 {
  padding: 5px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-l-20 {
  padding-left: 20px;
}

.padding-r-10 {
  padding-right: 10px;
}

.marg-bot-20 {
  margin-bottom: 20px;
}

.marg-bot-10 {
  margin-bottom: 10px;
}

.marg-bot-5 {
  margin-bottom: 5px;
}

.marg-top-40 {
  margin-top: 40px;
}

.marg-top-20 {
  margin-top: 20px;
}

.marg-top-10 {
  margin-top: 10px;
}

.marg-lr-10 {
  margin: 0px 10px;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.end-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-align-right {
  text-align: right;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.info-table {
  width: 100%;
  table-layout: fixed;
}

.info-table td {
  text-align: center;
}

.flex-indicator div>div>div {
  display: flex;
  color: gray;
}

.cols {
  display: flex;
  flex-direction: row;
}

.rows {
  display: flex;
  flex-direction: column;
}

.le-address {
  width: 35%;
  padding: 10px;
}

.le-phone {
  width: 25%;
  padding: 10px;
}

.le-contact {
  width: 29%;
  padding: 10px;
}

.le-actions {
  width: 10%;
  padding: 10px;
}

/* FONT SETTINGS */

.bold {
  font-weight: bold !important;
}

.plain-white {
  color: white;
  text-decoration: none;
}

/* FONT COLORS */

.white {
  color: white !important;
}

.gray {
  color: gray;
}

.lighter {
  color: hsl(0, 0%, 45%);
}

.error {
  padding: 12px;
  background-color: #fbe3e4;
  color: #8d0000;
  border-radius: 2px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0.5;
  z-index: 10;
  border-radius: 2px;
}

.modal-container {
  position: relative;
  overflow: auto;
}

.rounded {
  border-radius: 24px !important;
}

.centered-content {
  max-width: 720px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.table-search-icon {
  position: relative;
  top: 10px;
}

.mat-col-id {
  flex: 0 0 10% !important;
}

.mat-col-action {
  flex: 0 0 5% !important;
  z-index: 100;
}

.mat-col-20 {
  flex: 0 0 20% !important;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f3f3f3;
}

.no-mobile {
  display: none !important;
}

.mobile-only {
  display: initial !important;
}

.table-filter {
  padding: 8px 16px;
  padding-bottom: 0px;
}

.mat-column-half {
  flex: 0 0 50%;
}

.mat-table-row {
  border: none;
}

.mat-table-row {
  position: relative;
}

.mat-table-row:not(.expanded) {
  cursor: pointer;
}

.mat-table-row:not(.expanded):hover {
  background: #f5f5f5;
}

.mat-table-row.expanded {
  border-bottom-color: transparent;
  background: #f5f5f5;
}

.mat-table-row.expanded {
  background: #f5f5f5;
}

.default-shadow {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.26), 0 6px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 18px 0 rgba(0, 0, 0, 0.08);
}

/* MEDIA RULES */

@media (max-width: 600px) {
  .mat-elevation-z5, .mat-elevation-z8 {
    box-shadow: none !important;
  }
  .half-width {
    width: 100% !important;
  }
  .third-width {
    width: 100% !important;
  }
  .q-width {
    width: 49.04% !important;
    /* calibrated from 300px */
  }
  .maj-width {
    width: 100% !important;
  }
  .min-width {
    width: 100% !important;
  }
  .mat-button {
    min-width: 0px !important;
  }
}

@media (min-width: 600px) {
  .no-mobile {
    display: initial !important;
  }
  .mobile-only {
    display: none !important;
  }
  .tab-page-title {
    margin-top: 40px;
  }
  .mo-marg-top-20 {
    margin-top: 20px;
  }
  .no-mobile-table {
    padding: 0px 40px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.mat-tab-links {
  position: static !important;
  display: flex !important;
}