<div id="home">
  <igx-nav-drawer id="navigation" #drawer [isOpen]="false">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true"> Pages </span>
        <span *ngFor="let page of pages" routerLink="{{ page.link }}" igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active">
          <igx-icon fontSet="material">{{ page.icon }}</igx-icon>
          <span>{{ page.name }}</span>
        </span>

        <span *ngIf="currentUser?.isAdmin" igxDrawerItem [isHeader]="true"> Admin Pages </span>
        <span *ngFor="let page of adminPages" routerLink="{{ page.link }}" igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active">
          <igx-icon fontSet="material">{{ page.icon }}</igx-icon>
          <span>{{ page.name }}</span>
        </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <main>
    <div class="header-container">
      
      <span igxButton="icon" igxToggleAction="navigation" igxButtonColor="white">
        <igx-icon fontSet="material">menu</igx-icon>
      </span>
      
      <span id="header">Parking Requests</span>
      <div id="welcome">
        <div></div>
        <button igxButton="icon" igxRipple igxRippleCentered="true" (click)="toggleDropDown($event)">
          <igx-icon color="white">person</igx-icon>
        </button>
        <igx-drop-down #dropdown1 (onSelection)="onSelection($event)">
          <igx-drop-down-item [value]="LOGOUT">
            <igx-icon>exit_to_app</igx-icon>&nbsp;&nbsp;Logout
          </igx-drop-down-item>
        </igx-drop-down>
      </div>
    </div>

    <div class="content">
      <div class="marg-bot-20">
        <router-outlet></router-outlet>
      </div>
      <div class="footer" class="no-mobile">
        <div class="footer-container">
          <span>© {{year}}</span>
        </div>
      </div>
    </div>
  </main>

  <igx-snackbar #snackbar [message]="snackbarMsg" displayTime="4096" class="snackbar"></igx-snackbar>
</div>
